*{
    background-color: #ededed;
}

#head{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

#button{
    align-items: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    font-size: 30px;
}

#dice-container{
    text-align: center;
}

#rolls-left{
align-items: center;
font-family: 'Roboto', sans-serif;
}

#tr{
    gap: 5%;
}

.dice {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block;
    background-color: #ccc;
    text-align: center;
    line-height: 50px;
    transition: 1s;
}

.dice:hover {
    background-color: lightblue;
}


#scoreboard {
    margin-top: 20px;
    text-align: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#board{
    align-items: center;
}

#scoreboard th, #scoreboard td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.selected {
    background-color:paleturquoise;
  }